<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428240700645-b27svj6s142nc1milq251coeiheb4rtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428240700645-b27svj6s142nc1milq251coeiheb4rtt</string>
	<key>API_KEY</key>
	<string>AIzaSyB8X6rsY3nMXQWMeGNRr5iw_sEO80WzIT0</string>
	<key>GCM_SENDER_ID</key>
	<string>428240700645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opendietary.mobile</string>
	<key>PROJECT_ID</key>
	<string>opendietary</string>
	<key>STORAGE_BUCKET</key>
	<string>opendietary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428240700645:ios:1cc4d25b700dc2e844c00c</string>
	<key>DATABASE_URL</key>
	<string>https://opendietary-default-rtdb.firebaseio.com</string>
</dict>
</plist>